<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @car.condition %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.User %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
